body {
    height: 100%;
    width: 100%;
}

#header,
#footer {
    margin: 1rem;
    text-align: center;
}

#toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre;
}

#showcase-container {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

[data-bs-toggle=tooltip] {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.project {
    width: 18rem;
    margin: 1rem;
}

.card-img-top {
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}